include eb
recursive-include easybuild *py
recursive-include test *py *eb
recursive-include test/framework/modules *
include CONTRIBUTING.md
include LICENSE
include README.rst
include RELEASE_NOTES
include setup.py
