include eb
include minimal_bash_completion.bash
include optcomplete.bash
recursive-include etc *
recursive-include easybuild *py
recursive-include test *py *eb
recursive-include test/framework/modules *
recursive-include test/framework/sandbox/sources *
include CONTRIBUTING.md
include LICENSE
include README.rst
include RELEASE_NOTES
include setup.py
