# Python packages required to run the EasyBuild framework test suite,
# on top of the optional Python packages listed in requirements-optional.txt

# pin versions of dependencies of the optional Python packages that dropped support for Python 3.6
cryptography<37; python_version < '3.7'
PyNaCl<1.5; python_version < '3.7'

# optional: to run the test suite in parallel with pytest ('python -O -m pytest -n auto'),
# and to measure code coverage of the test suite (see .coveragerc);
# not required for the official test runner ('python -O -m test.framework.suite')
pytest; python_version >= '3.8'
pytest-xdist; python_version >= '3.8'
coverage; python_version >= '3.8'
