# keyring is required to provide GitHub token to EasyBuild;
# for recent versions of keyring, keyrings.alt must be installed too
keyring
keyrings.alt

# GitPython 3.1.15 deprecates Python 3.5
GitPython==3.1.14; python_version < '3.6'
GitPython; python_version >= '3.6'

# autopep8
autopep8

# PyYAML
PyYAML

# optional Python packages for EasyBuild

# flake8 is a superset of pycodestyle
flake8

GC3Pie; python_version < '3.11'
python-graph-dot
python-hglib
requests

archspec

cryptography; python_version >= '3.5' and python_version < '3.11'

rich; python_version >= '3.6'
