# keyring is required to provide GitHub token to EasyBuild;
# for recent versions of keyring, keyrings.alt must be installed too
# 19.0 dropped Python 2 support
keyring<19.0; python_version < '3.0'
keyring; python_version >= '3.0'
keyrings.alt

GitPython
autopep8
PyYAML

# optional Python packages for EasyBuild

# flake8 is a superset of pycodestyle
flake8

GC3Pie; python_version < '3.11'
python-graph-dot
python-hglib
requests

archspec

rich
