# keyring is required to provide GitHub token to EasyBuild;
# for recent versions of keyring, keyrings.alt must be installed too
keyring
keyrings.alt

GitPython
autopep8
PyYAML

# optional Python packages for EasyBuild

# flake8 is a superset of pycodestyle
flake8

GC3Pie; python_version < '3.11'
python-graph-dot
python-hglib
requests

# Some packages dropped support for Python 3.6, so specify max versions
rich<13; python_version < '3.7'
rich

# Similar for dependencies of other packages
cryptography<37; python_version < '3.7'
PyNaCl<1.5; python_version < '3.7'

archspec
