name: End-to-end test of EasyBuild in different distros
on: [push, pull_request]
jobs:
  build_publish:
    name: End-to-end test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container:
          - centos-8.5
          - fedora-41
          - opensuse-15.4
          - rockylinux-8.10
          - rockylinux-9.5
          - ubuntu-20.04
          - ubuntu-22.04
          - ubuntu-24.04
      fail-fast: false
    container:
      image: ghcr.io/easybuilders/${{ matrix.container }}-amd64
    steps:
      - name: Check out the repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2

      - name: download and unpack easyblocks and easyconfigs repositories
        run: |
          cd $HOME
          for pkg in easyblocks easyconfigs; do
              curl -OL https://github.com/easybuilders/easybuild-${pkg}/archive/5.0.x.tar.gz
              tar xfz 5.0.x.tar.gz
              rm -f 5.0.x.tar.gz
          done

      - name: Set up environment
        shell: bash
        run: |
          # collect environment variables to be set in subsequent steps in script that can be sourced
          echo "export PATH=$PWD:$PATH" > /tmp/eb_env
          echo "export PYTHONPATH=$PWD:$HOME/easybuild-easyblocks-5.0.x:$HOME/easybuild-easyconfigs-5.0.x" >> /tmp/eb_env

      - name: Run commands to check test environment
        shell: bash
        run: |
          cmds=(
            "whoami"
            "pwd"
            "env | sort"
            "eb --version"
            "eb --show-system-info"
            "eb --check-eb-deps"
            "eb --show-config"
            "eb -x bzip2-1.0.8.eb"
          )
          for cmd in "${cmds[@]}"; do
              echo ">>> $cmd"
              sudo -u easybuild bash -l -c "source /tmp/eb_env; $cmd"
          done

      - name: End-to-end test of installing bzip2 with EasyBuild
        shell: bash
        run: |
          EB_ARGS=''
          if [[ "${{ matrix.container }}" == "fedora-41" ]] || [[ "${{ matrix.container }}" == "ubuntu-24.04" ]]; then
              EB_ARGS='--filter-deps=binutils'
          fi
          sudo -u easybuild bash -l -c "source /tmp/eb_env; eb bzip2-1.0.8.eb --trace --robot ${EB_ARGS}"
