# documentation: https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: EasyBuild framework unit tests
on: [push, pull_request]

permissions:
  contents: read # to fetch code (actions/checkout)

concurrency:
  group: ${{format('{0}:{1}:{2}', github.repository, github.ref, github.workflow)}}
  cancel-in-progress: true

env:
  PYENV_ROOT: /opt/pyenv

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
        lmod8: Lmod-8.7.65
        lmod9: Lmod-9.0
        modules4: modules-4.5.3
        modules5: modules-5.3.1
    steps:
      - run: "true"
  build:
    needs: setup
    runs-on: ${{matrix.os || 'ubuntu-24.04'}}
    env: 
      JOB_OS: ${{matrix.os || 'ubuntu-24.04'}}
    strategy:
      matrix:
        # Python 3.10 is default in Ubuntu 22.04
        python: ['3.10']
        modules_tool:
          # use variables defined by 'setup' job above, see also
          # https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#needs-context
          - ${{needs.setup.outputs.lmod8}}
          - ${{needs.setup.outputs.modules4}}
          - ${{needs.setup.outputs.modules5}}
        include:
          # Test different Python 3 versions with Lmod 8.x (with both Lua and Tcl module syntax)
          - python: '3.6.1'
            modules_tool: ${{needs.setup.outputs.lmod8}}
            use_pyenv: '2.6.15'
          - python: '3.7'
            modules_tool: ${{needs.setup.outputs.lmod8}}
            os: ubuntu-22.04
          - python: '3.8'
            modules_tool: ${{needs.setup.outputs.lmod8}}
          - python: '3.9'
            modules_tool: ${{needs.setup.outputs.lmod8}}
          - python: '3.11'
            modules_tool: ${{needs.setup.outputs.lmod8}}
          - python: '3.12'
            modules_tool: ${{needs.setup.outputs.lmod8}}
          - python: '3.13'
            modules_tool: ${{needs.setup.outputs.lmod8}}
          - python: '3.14'
            modules_tool: ${{needs.setup.outputs.lmod8}}
          # also test with Lmod 9.x
          - python: '3.9'
            modules_tool: ${{needs.setup.outputs.lmod9}}
      fail-fast: false
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2

    - name: install OS packages
      run: |
        # for modules tool
        APT_PKGS="lua5.3 liblua5.3-dev lua-filesystem lua-posix tcl tcl-dev"
        # for GitPython, python-hglib
        APT_PKGS+=" git mercurial"
        # dep for GC3Pie
        APT_PKGS+=" time"

        if [[ -n "${{matrix.use_pyenv}}" ]]; then
          # See https://github.com/pyenv/pyenv/wiki#suggested-build-environment
          APT_PKGS+=" libssl-dev zlib1g-dev \
                    libbz2-dev libreadline-dev libsqlite3-dev curl git \
                    libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev"
          # Avoid segfault with older Pythons: https://github.com/pyenv/pyenv/issues/2239#issuecomment-1079275184
          APT_PKGS+=" clang"
        fi
        # Avoid apt-get update, as we don't really need it,
        # and it does more harm than good (it's fairly expensive, and it results in flaky test runs)
        if ! sudo apt-get install $APT_PKGS; then
          # Try to update cache, then try again to resolve 404s of old packages
          sudo apt-get update -yqq || true
          sudo apt-get install $APT_PKGS
        fi

    - name: set up Python
      if: '!matrix.use_pyenv'
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: ${{matrix.python}}
        architecture: x64

    - name: Cache PyEnv
      id: cache-pyenv
      if: matrix.use_pyenv
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # 4.3.0
      with:
        path: ${{env.PYENV_ROOT}}
        key: ${{env.JOB_OS}}-py${{matrix.python}}-pyenv${{matrix.use_pyenv}}

    - name: Setup PyEnv
      if: matrix.use_pyenv
      run: |
        if [[ -z "${{steps.cache-pyenv.outputs.cache-hit}}" ]]; then
          mkdir "$PYENV_ROOT"
          wget https://github.com/pyenv/pyenv/archive/refs/tags/v${{matrix.use_pyenv}}.tar.gz -O- | tar xzf - -C "$PYENV_ROOT" --strip-components=1
        fi
        echo "${PYENV_ROOT}/bin" >> $GITHUB_PATH
        export PATH="$PYENV_ROOT/bin:$PATH"
        echo 'eval "$(pyenv init -)"' > ~/init_pyenv
        . ~/init_pyenv
        CC=clang pyenv install --skip-existing ${{matrix.python}}
        echo 'pyenv global ${{matrix.python}}' >> ~/init_pyenv

    - name: install Python packages
      run: |
        touch ~/init_pyenv # In case it doesn't exist, make empty file
        . ~/init_pyenv
        python -V
        pip --version
        pip install --upgrade pip
        pip --version
        pip install -r requirements.txt
        if ! python -c "import distutils" 2> /dev/null; then
            # we need setuptools for distutils in Python 3.12+, needed for python setup.py sdist
            pip install --upgrade setuptools
        fi
        # git config is required to make actual git commits (cfr. tests for GitRepository)
        git config --global user.name "Github Actions"
        git config --global user.email "actions@github.com"
        git config --get-regexp 'user.*'

    - name: install GitHub token (if available)
      env:
        # token (owned by @boegelbot) with gist permissions (required for some of the tests for GitHub integration);
        # this token is not available in pull requests, so tests that require it are skipped in PRs,
        # and are only run after the PR gets merged
        GITHUB_TOKEN: ${{secrets.CI_UNIT_TESTS_GITHUB_TOKEN}}
      run: |
        . ~/init_pyenv
        # only install GitHub token when testing with Lmod 8.x + Python 3.9, to avoid hitting GitHub rate limit
        # tests that require a GitHub token are skipped automatically when no GitHub token is available
        if [[ "${{matrix.modules_tool}}" =~ 'Lmod-8' ]] && [[ "${{matrix.python}}" =~ 3.9 ]]; then
          if [ ! -z $GITHUB_TOKEN ]; then
            SET_KEYRING="import keyrings.alt.file; keyring.set_keyring(keyrings.alt.file.PlaintextKeyring())"
            python -c "import keyring; $SET_KEYRING; keyring.set_password('github_token', 'easybuild_test', '$GITHUB_TOKEN')"
          fi
          echo "GitHub token installed!"
        else
          echo "Installation of GitHub token skipped!"
        fi

    - name: install modules tool
      run: |
          # avoid downloading modules tool sources into easybuild-framework dir
          cd $HOME
          export INSTALL_DEP=$GITHUB_WORKSPACE/easybuild/scripts/install_eb_dep.sh
          # install Lmod
          source $INSTALL_DEP ${{matrix.modules_tool}} $HOME
          # changes in environment are not passed to other steps, so need to create files...
          echo $MOD_INIT > mod_init
          echo $PATH > path
          if [ ! -z $MODULESHOME ]; then echo $MODULESHOME > moduleshome; fi

    - name: check sources
      run: |
          . ~/init_pyenv
          # make sure there are no (top-level) "import setuptools" or "import pkg_resources" statements,
          # since EasyBuild should not have a runtime requirement on setuptools
          SETUPTOOLS_IMPORTS=$(egrep --exclude setup.py -RI '^(from|import)[ ]*pkg_resources|^(from|import)[ ]*setuptools' * || true)
          test "x$SETUPTOOLS_IMPORTS" = "x" || (echo "Found setuptools and/or pkg_resources imports in easybuild/:\n${SETUPTOOLS_IMPORTS}" && exit 1)

    - name: install sources
      run: |
          . ~/init_pyenv
          # install from source distribution tarball, to test release as published on PyPI
          python setup.py sdist
          ls dist
          export PREFIX=/tmp/$USER/$GITHUB_SHA
          pip install --prefix $PREFIX dist/easybuild[-_]framework*tar.gz

    - name: run test suite
      env:
        EB_VERBOSE: 1
        LC_ALL: ""
      run: |
          # run tests *outside* of checked out easybuild-framework directory,
          # to ensure we're testing installed version (see previous step)
          cd $HOME
          # initialize environment for modules tool
          if [ -f $HOME/moduleshome ]; then export MODULESHOME=$(cat $HOME/moduleshome); fi
          source $(cat $HOME/mod_init)
          type module
          module --version
          # make sure 'eb' is available via $PATH, and that $PYTHONPATH is set (some tests expect that);
          # also pick up changes to $PATH set by sourcing $MOD_INIT
          export PREFIX=/tmp/$USER/$GITHUB_SHA
          export PATH=$PREFIX/bin:$(cat $HOME/path)
          export PYTHONPATH=$PREFIX/lib/python$(echo ${{matrix.python}} | cut -f1,2 -d'.')/site-packages:$PYTHONPATH
          echo "PYTHONPATH=$PYTHONPATH"
          ls $(echo $PYTHONPATH | cut -f1 -d':')

          # Do AFTER setting $PATH above
          . ~/init_pyenv
          which python3
          python3 --version

          python3 -m easybuild.main --version
          eb --version
          # tell EasyBuild which modules tool is available
          if [[ ${{matrix.modules_tool}} =~ ^modules- ]]; then
            export EASYBUILD_MODULES_TOOL=EnvironmentModules
          else
            export EASYBUILD_MODULES_TOOL=Lmod
          fi
          export TEST_EASYBUILD_MODULES_TOOL=${EASYBUILD_MODULES_TOOL}

          # Run tests with LUA and Tcl module syntax (where supported)
          for module_syntax in Lua Tcl; do
            # Only Lmod supports Lua
            if [[ "${module_syntax}" == "Lua" ]] && [[ "${EASYBUILD_MODULES_TOOL}" != "Lmod" ]]; then
              echo "Not testing with '${module_syntax}' as module syntax with '${EASYBUILD_MODULES_TOOL}' as modules tool"
              continue
            fi
            printf "\n\n=====================> Using $module_syntax module syntax <=====================\n\n"
            export EASYBUILD_MODULE_SYNTAX="${module_syntax}"
            export TEST_EASYBUILD_MODULE_SYNTAX="${EASYBUILD_MODULE_SYNTAX}"

            eb --show-config
            # gather some useful info on test system
            eb --show-system-info
            # check GitHub configuration
            eb --check-github --github-user=easybuild_test
            # create file owned by root but writable by anyone (used by test_copy_file)
            sudo touch /tmp/file_to_overwrite_for_easybuild_test_copy_file.txt
            sudo chmod o+w /tmp/file_to_overwrite_for_easybuild_test_copy_file.txt
            # run test suite
            python -O -m test.framework.suite 2>&1 | tee test_framework_suite.log
            # try and make sure output of running tests is clean (no printed messages/warnings)
            IGNORE_PATTERNS="no GitHub token available"
            IGNORE_PATTERNS+="|skipping SvnRepository test"
            IGNORE_PATTERNS+="|requires Lmod as modules tool"
            IGNORE_PATTERNS+="|stty: 'standard input': Inappropriate ioctl for device"
            IGNORE_PATTERNS+="|CryptographyDeprecationWarning: Python 3.7"
            IGNORE_PATTERNS+="|from cryptography.* import "
            IGNORE_PATTERNS+="|Blowfish"
            IGNORE_PATTERNS+="|GC3Pie not available, skipping test"
            IGNORE_PATTERNS+="|CryptographyDeprecationWarning: TripleDES has been moved"
            IGNORE_PATTERNS+="|algorithms.TripleDES"
            # '|| true' is needed to avoid that GitHub Actions stops the job on non-zero exit of grep (i.e. when there are no matches)
            PRINTED_MSG=$(egrep -v "${IGNORE_PATTERNS}" test_framework_suite.log | grep '\.\n*[A-Za-z]' || true)
            test "x$PRINTED_MSG" = "x" || (echo "ERROR: Found printed messages in output of test suite" && echo "${PRINTED_MSG}" && exit 1)
          done
